*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}


.mini-header{
    /* background-color: lightblue; */
    padding: 5px;
    
    display: flex;
    justify-content: space-between;

    padding: 30px 180px 10px 180px;
}

.menu{
    /* background-color: lightpink; */

    display: flex;
    gap: 20px;
}

.nav-bar{
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}
li a{
    text-decoration: none;
}

.logo p{
    font-size: 20px;
    color: #ff523b;
}

li {
    color: #555555;
}
li a:hover{
    color: #ff523b;
}
.fa-bag-shopping{
    font-size: 24px;
}
.fa-bars{
    font-size: 30px;
}
.menu-bar{
    display: none;
}

@media (max-width:800px){
    .nav-bar{
        display: none;
    }
    .menu-bar{
        display: block;
    }
}

@media (max-width:1000px){
    
    .mini-header{
        padding: 30px 30px 10px 30px;
    }
}



